python-dotenv~=1.0.1
tortoise-orm==0.21.3
asyncpg==0.29.0
aerich==0.7.2

APScheduler~=3.10.4
aiohttp==3.9.5
selenium~=4.21.0
aiogram~=3.7.0
pytest~=7.4.2
pytest-asyncio==0.23.7
pytest-cov==5.0.0
pytest-mock==3.14.0

aioresponses~=0.7.6
